@charset "UTF-8";

p, h1, h2, h3, h4, h5, td, th  {
    font-family: 'Montserrat', sans-serif;
}

p, td {
    font-weight: bold;
}

.nextpanel {
    font-size: 2.5vw;
    margin: 0;
}

h1 {
    font-size: 8.3vw;
    padding: 0;
    margin: 0;
}

#counterDiv {
    display: inline-block;
    position: relative;
    /* float: right; */
    margin: 0;
    width: 51.5%;
    padding-left: 4.55%;
}

#matches {
    display: inline-block;
    position: relative;
    float: left;
    width: 14.33%;
}

.keys {
    color: green;
}

.bluealliance {
    color: #0066b3;
}

.redalliance {
    color: #ed1c24;
}

td.redalliance, td.bluealliance {
    font-weight: 900;
}

.match {
    font-size: 1.4vw;
    margin: 1em 0;
}

#kettering td, #kettering th {
    font-size: 1.4vw;
    padding: 0.3vw;
}

#ketteringWrapper {
    display: inline-block;
    position: relative;
    /* float: right; */
    margin: 0;
    width: 51.5%;
    padding-left: 4.55%;
    /* padding: 0 16.75%; */
}

#nextpanel {
    display: inline-block;
    position: relative;
    float: right;
    width: 18.5%;
    padding: 2vh 4.55%
    /* clear: left; */
}

#bumper {
    font-weight: bold;
    padding: 2vw;
    color: white;
    width: max-content;
    font-size: 6vw;
    margin: 0;
}

.redbg {
    background-color: #be2026;
}
.bluebg {
    background-color: #2a397c;
}

img {
    height: 10vh;
    position: absolute;
    float: right;
    display: block;
    bottom: 0;
    right: 0;
    padding: 3px;
    /* clear: left; */
}