@charset "UTF-8";

p, h1, h2, h3, h4, h5, td, th  {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 90pt;
    padding: 0;
    margin: 0;
}

#counterDiv {
    display: inline-block;
    position: relative;
    float: right;
    margin: 0;
    width: 71.3%;
    padding: 0 4.1%;
}

#matches {
    display: inline-block;
    position: relative;
    float: left;
    width: 14.5%;
}

.keys {
    color: green;
}

.bluealliance {
    color: #0066b3;
}

.redalliance {
    color: #ed1c24;
}

.match {
    font-size: 120%;
}

#kettering td, #kettering th {
    font-size: large;
}

#ketteringWrapper {
    display: inline-block;
    position: relative;
    float: right;
    margin: 0;
    width: 51.5%;
    /* padding: 0 16.75%; */
}

#nextpanel {
    /* display: inline; */
    position: relative;
    float: right;
    width: 18.5%;22z
    /* clear: left; */
}

#bumper {
    font-weight: bold;
    padding: 20px;
    color: white;
    width: max-content;
    font-size: 4em;
}

.redbg {
    background-color: #be2026;
}
.bluebg {
    background-color: #2a397c;
}