@charset "UTF-8";

p, h1, h2, h3, h4, h5, td, th  {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

h1 {
    font-size: 90pt;
    padding: 0;
    margin: 0;
}

#counterDiv {
    display: inline-block;
    position: relative;
    float: right;
    margin: 0;
    width: 71.3%;
    padding: 0 4.1%;
}

#matches {
    display: inline-block;
    position: relative;
    float: left;
    width: 14.5%;
}

.keys {
    color: green;
}

.bluealliance {
    color: blue;
}

.redalliance {
    color: red;
}

.match {
    font-size: 120%;
}

#kettering td, #kettering th {
    font-size: large;
}

#ketteringWrapper {
    display: inline-block;
    position: relative;
    float: right;
    margin: 0;
    width: 51.5%;
    padding: 0 16.75%;
}